@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;700&display=swap");
:root {
    --c-b-g-1: #fe3072;
    --c-b-g-2: #ff5940;
}

* {
    font-family: "Readex Pro", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, var(--c-b-g-1), var(--c-b-g-2));
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(260deg, var(--c-b-g-1), var(--c-b-g-2));
}


/* ---Navbar--- */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .logo-container {
    width: 170px;
    margin: 15px;
}

nav .logo-container .logo {
    width: 100%;
}

.nav-button {
    color: var(--c-b-g-1);
    text-transform: uppercase;
    font-size: 28px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 15px;
}


/* ---Home Page --- */

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #00000070 90%, #00000000), url("./images/8ad4e4299ef5e377d2ef00ba5c94c44c.webp") center center/cover no-repeat;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 70vh;
}

.primary-title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}


/* --- AuthModal --- */

.auth-modal-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #00000060;
}

.auth-modal-bg {
    background: #000000;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.auth-modal {
    background-color: #fff;
    max-width: 360px;
    border-radius: 10px;
    padding: 40px;
    z-index: 3;
}

.auth-modal .close {
    float: right;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-modal input[type="email"],
.auth-modal input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px;
    font-size: 17px;
    border-radius: 5px;
    border: solid 2px rgb(121, 119, 119);
}

.secondary-button {
    color: rgb(121, 119, 119);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px currentColor;
    margin: 6px;
}

.secondary-button:hover {
    color: rgb(48, 48, 48);
    border: solid 2px currentColor;
}


/* OnBoarding form */

.onboarding {
    border-top: solid 1px rgb(154, 154, 154);
}

.onboarding form {
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.onboarding form input {
    padding: 15px 30px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.onboarding form input::-webkit-inner-spin-button,
.onboarding form input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form label {
    margin: 10px 0;
}

.onboarding form .multiple {
    display: flex;
    flex-direction: row;
}

.onboarding form .multiple input {
    margin-right: 10px;
}

.onboarding form .multiple label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form .multiple input[type="number"] {
    width: 10%;
}

.onboarding form .multiple input[type="radio"] {
    display: none;
}

.onboarding form .multiple input[type="radio"]:checked+label {
    border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
}

.onboarding form input[type="submit"]:active {
    background-color: rgb(226, 115, 155);
}

.onboarding form .photoContainer img {
    width: 100%;
}